<!doctype html>
<title>Internet Inverso</title>

{% assets "css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}

{% assets "js" %}
<script type=text/javascript src="{{ ASSET_URL }}"></script>
{% endassets %}

<script type="text/javascript">
	var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>


<div class="page">
  <h1>Internet Inverso</h1>
  <div class="metanav">
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
