{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>Title:
        <dd><input type="text" size="30" name="title">
        <dt>Text:
        <dd><textarea name="text" rows="5" cols="40"></textarea>
        <dd><input type="submit" value="Share">
      </dl>
    </form>
  {% endif %}
<h2> Fuente: El Universal: México</h2>  
<ul class="noticias">
{% for post in entries %}
<li>
<h2><a href='{{ post.link }}'>
{{ post.title }}
</a></h2></br>  
	{% else %}
   <li><em>bienvenido a la red que no es Internet...</em>
  {% endfor %}
  </ul>
{% endblock %}
