#mensajes #mensajesRecibidos ul {
  height: 30vh;
  overflow-y: auto; }
  #mensajes #mensajesRecibidos ul, #mensajes #mensajesRecibidos ul li {
    border: 1px solid #eee; }
  #mensajes #mensajesRecibidos ul li {
    padding: 10px;
    border: 1px solid #eee; }
